<h1>Potoroo</h1>
<p>
The potoroo is a kangaroo-like marsupial about the size of a rabbit. It is a macropod. All three extant species are threatened, especially the long-footed Potoroo (Endangered) and Gilbert's potoroo (Critically Endangered). The main threats are predation by introduced species (especially foxes) and habitat loss. Potoroos were formerly very common, and early settlers reported them as being a significant pest to their crops.
</p>
<div ng-repeat="item in items">
    <h4>{{item.title}}</h4>
    <p>{{item.description}}</p>
</div>